@charset "utf-8";
/* CSS Document */
/* Variables for portfolio's fonts and color themes */

/* TODO: Style aside area  */

:root {
  /* Main font color */
  --mainFontColor: #000;
  /* Secondary font color */
  --secondFontColor: #fff;
  /* Header Background color */
  --headerBackground: #000;
  /* Site Background Color  */
  --mainBackground: #fff;
}

/*********** Universal box sizing with inheritance ***********/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0px;
  padding: 0px;

  /*********** LAYOUT TESTING ***********/
  /* border: 1px solid red; */
}

body {
  /* background-color: var(--mainBackground); */
  background-color: #000;
  color: var(--mainFontColor);
  /* width: 75%; */
  margin: 0 auto;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.3em;
}
h1,
h2 {
  text-align: left;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  border-bottom: 2px solid #000;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

h3 {
  margin: 0 auto;
  text-align: center;
}

p {
  text-align: left;
  text-indent: 1.5em;
  margin: 1em auto 2em;
}

p,
.mapContain,
#trainBanner {
  width: 85%;
}

/*********** Header Styles ***********/
/* Logo container with background image  */
.logoContainer {
  width: 100%;
  height: auto;
  background-color: var(--headerBackground);
  background-image: url(../images/headerPhoto.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 650px auto;
  text-align: center;
}
/* Peak training logo */
.headerLogo {
  margin: 1em auto;
  width: 100%;
  max-width: 400px;
}

/********** Navigation Styles **********/
/* Responsive Navigation Styles */
nav {
  background-color: #333;
  text-align: center;
  border-top: thin solid #fff;
}
.navList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: auto;
}
.navItem {
  flex: 1 1 100%;
  /* padding: 1em; */
}
.navLinks {
  color: var(--secondFontColor);
  text-decoration: none;
  font-size: 1.5em;
  display: block;
  padding: 0.5em;
}
.navItem:hover {
  background-color: #555;
}
.icon {
  display: none;
}
.active {
  background-color: #082fbe;
  /* text-align: center; */
}
.active:hover {
  background-color: #de630b;
}

/* Content between navigation and footer  */
.middleContainer {
  min-width: 350px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;

  display: flex;
  flex-direction: row-reverse;

  background-color: var(--mainBackground);
}

main {
  padding: 0 2em 6em;
}

/* Styles for photo banner */
#trainBanner {
  background-image: url(../images/groupTrain.JPG);
  background-repeat: no-repeat;
  background-position: center center;
  border: thin solid #000000;
  margin: 3em auto;
}

#trainTitle {
  margin: 2em 1em;

  /* border: thin solid #000000; */
  background-color: #082fbe;
  color: #fff;
  text-align: center;
}

/*********** Mapbox Styles  ***********/
/*********** Mapbox Container  ***********/
.mapContain {
  margin: 0 auto;
  text-align: center;
}
#peakMap {
  /* width: 75%; */
  height: 20em;
  /* background-color: gray; */
}

/********** Aside Styles  **********/
.sideContent {
  margin-top: 5.5em;
  /* list-style: none; */
  text-align: left;
  /* font-size: 1em; */
}

.sideContent h2{
  font-size: 1.2em;
  font-weight: bold;
}
.sideContent ul {
  list-style: none;
  margin: 1em auto;
}

/* Local Partners  */
.partnerList {
  /* list-style-position: inside; */
  list-style-type: none;
}
.partnerList a {
  color: var(--mainFontColor);
  text-decoration: none;
}
.partnerList a:hover {
  background-color: #082fbe;
  color: #ffffff;
}

.bundle > p {
  text-indent: 0;
  width: 100%;
  text-align: left;
}

.bundleLink {
  border-bottom: 4px double;
  color: #000;
  text-decoration: none;
}

.bundleLink:hover {
  background-color: #082fbe;
  color: #ffffff;
  border: none;
}

.socialsList {
  display: flex;
  size: 50%;
  justify-content: space-around;
  margin: 1em auto;
}

footer {
  width: 100%;
  background-color: #082fbe;
  color: rgba(248, 248, 248, 0.98);
  text-align: center;
  padding: 1em;

  background-image: url(../images/dumbells.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 5em auto;
}

footer ul {
  list-style-type: none;

  /* margin: 0 auto; */
}
footer ul a {
  text-decoration: none;
  color: rgba(248, 248, 248, 0.98);
}

footer ul a:hover {
  background-color: #555555;
  color: #ffffff;
}

/* Container that includes footer  */
.bodyGrid {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 70vh;
}

address > p{
  text-align: center;
  text-indent: 0;
}



/*********** Smaller Viewport Styles  ***********/
@media (max-width: 900px) {
  h1{
    text-align: center;
  }
  body {
    width: 100%;
  }
  .middleContainer {
    flex-direction: column;
  }
  /***** Mobile Navigation and Header  *****/
  .navList {
    display: none;
  }
  .logoContainer {
    background-size: 100%;
  }
  .headerLogo {
    max-width: 275px;
    margin: 1em auto;
  }
  .navList {
    flex-direction: column;
  }
  .icon {
    display: contents;
    font-size: 190%;
  }
  .icon:hover {
    background-color: #555;
  }
  .navList.mobileMenu {
    display: contents;
  }

  /********** Main content Styles  **********/
  .middleContainer{
    padding: 2em 0 0;
  }
  /* main{
    padding: 0
  } */

  /********** Aside Content Styles  **********/
  .sideContent  {
  width: 85%;
  margin: 0 auto 3em;
    text-align: center;
}
  /* .sideContent ul {
  list-style: none;
  margin: 1em auto;
} */

  /* Local Partners  */
.sideContent h2{
  text-align: center;
}
/* .sideContent{
  text-align: center;
} */
  /* .partnerList {
  list-style-type: none;
} */
  /* .partnerList a {
  color: var(--mainFontColor);
  text-decoration: none;
} */
  /* .partnerList a:hover {
  background-color: #082fbe;
  color: #ffffff;
} */

  .bundle > p {
  text-indent: 1.5em;
  width: 75%;
}

  /* .bundleLink {
  border-bottom: 4px double;
  color: #000;
  text-decoration: none;
} */

  /* .bundleLink:hover {
  background-color: #082fbe;
  color: #ffffff;
  border: none;
} */

  /* .socialsList {
  display: flex;
  size: 50%;
  justify-content: space-around;
  margin: 1em auto;
} */
}
